@using DistribuidoraInsumosMVC.Models;
@model List<Presupuesto>

<h2>Presupuesto</h2>

<a asp-controller="Presupuestos" asp-action="Create" class="btn btn-primary">Crear Presupuesto</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Fecha de creacion</th>
            <th>Nombre del destinatario</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var presupuesto in Model)
    {
        <tr>
            <td>@presupuesto.fechaCreacion</td>
            <td>@presupuesto.nombreDestinatario</td>
            <td>
                <a asp-controller="Presupuestos" asp-action="Update" asp-route-idPresupuesto="@presupuesto.idPresupuesto" class="btn btn-warning">Editar</a>
                <a asp-controller="Presupuestos" asp-action="Delete" asp-route-idPresupuesto="@presupuesto.idPresupuesto" class="btn btn-danger">Eliminar</a>
                <a asp-controller="Presupuestos" asp-action="Details" asp-route-idPresupuesto="@presupuesto.idPresupuesto" class="btn btn-primary">Ver</a>
                <a asp-controller="Presupuestos" asp-action="AddProduct" asp-route-idPresupuesto="@presupuesto.idPresupuesto" class="btn btn-secundary">Agregar prooducto</a>
            </td>
        </tr>
    }
    </tbody>
</table>
